.post-type-archive-videogame{
  background-color: $black;
  color: $yellow;
  .col-videogame{
    @include ms-respond(margin-top, 1);
    @include ms-respond(margin-bottom, 1);
    @include ms-respond(padding-left, 1);
    @include ms-respond(padding-right, 1);

    .videogame-container{
      border: 2px solid #635eaa;
      border-radius: 2px;
      height: 100%;
      @include ms-respond(padding-left, 1);
      @include ms-respond(padding-right, 1);
      @include ms-respond(padding-top, 2);
      @include ms-respond(padding-bottom, 2);
      box-shadow: 0px 4px 32px rgba(0,0,0,.5);
      h4{
        min-height: 120px;
      }
    }
  }
}