$blacker: #000000;
$black: #2f3334;
$white: #ffffff;
$accent-blue: #635eaa;
$accent-blue-light: rgb(222, 221, 230);
$accent-red: #E8256E;
$yellow: #fcb551;
$yellow-overlay: rgba(252, 181, 81, .2);
$yellow-light: #f6e1c1;

a{
    color: $yellow;
}