.realium-btn{
    background: $yellow;
    color: $black;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &.realicon-*:before{
        padding: 0 5px;
    }
}

.svg{
    @media screen and (min-width: 768px){
        display: block;
    }
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    &.e{
        @include ms-respond(top, 2);
        // left: 20px;
        @include ms-respond(left, 1);

    }
    &.a{
        @include ms-respond(bottom, 2);
        @include ms-respond(right, 1);
    }
}
