@charset "UTF-8";

@font-face {
  font-family: "realium";
  src:url("assets/fonts/realium.eot");
  src:url("assets/fonts/realium.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/realium.woff") format("woff"),
    url("assets/fonts/realium.ttf") format("truetype"),
    url("assets/fonts/realium.svg#realium") format("svg");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "Hyperspace";
  src: url("assets/fonts/Hyperspace.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/Hyperspace.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/Hyperspace.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/Hyperspace.svg") format("svg"), /* Legacy iOS */
    url("assets/fonts/Hyperspace.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/Hyperspace.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/Hyperspace.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hyperspace";
  src: url("assets/fonts/HyperspaceBold.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/HyperspaceBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/HyperspaceBold.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/HyperspaceBold.svg") format("svg"), /* Legacy iOS */
    url("assets/fonts/HyperspaceBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/HyperspaceBold.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/HyperspaceBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hyperspace";
  src: url("assets/fonts/HyperspaceItalic.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/HyperspaceItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/HyperspaceItalic.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/HyperspaceItalic.svg") format("svg"), /* Legacy iOS */
    url("assets/fonts/HyperspaceItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/HyperspaceItalic.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/HyperspaceItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hyperspace";
  src: url("assets/fonts/HyperspaceBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/HyperspaceBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/HyperspaceBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/HyperspaceBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("assets/fonts/HyperspaceBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/HyperspaceBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/HyperspaceBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
  font-style: italic;
}

[data-icon]:before {
  font-family: "realium" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="realicon-"]:before,
[class*=" realicon-"]:before {
  font-family: "realium" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // vertical-align: middle;
}

.realicon-facebook:before {
  content: "\61";
}
.realicon-tik-tok:before {
  content: "\62";
}
.realicon-instagram:before {
  content: "\63";
}
.realicon-virtual-reality:before {
  content: "\64";
}
.realicon-virtual-reality-1:before {
  content: "\65";
}
.realicon-vr-glasses:before {
  content: "\66";
}
.realicon-whatsapp:before {
  content: "\67";
}
.realicon-telephone:before {
  content: "\68";
}
