footer{
    .svg.a{
        bottom: ms(6) !important;
    }
    .container{
        padding: ms(4) ms(2) ms(5);
    }
    background-color: $yellow;
    color: $black;
    iframe{
        @media screen and (min-width: 500px){
            width: 400px;
            height: 400px;
        }
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .btn{
        color: $yellow;
        background-color: $black;
    }
    .contacts{
        color:$yellow;
        background-color: $black;
    }
}