header{
    height: 80px;
    background: $black;
    background: linear-gradient(180deg, $black, rgba(0,0,0,.8));
    color: #fff;
    a{
        font-size: 24px;
        color: $yellow;
        transition: transform .3s ease-in;
        &:hover{
            color: $yellow;
            transform: translateY(2px);
            text-decoration: none;
        }
    }
    @media screen and (max-width: 991px){
        .contacts{
            max-width: 33%;
        }
        .realicon-instagram,
        .realicon-facebook,
        .realicon-tik-tok,
        .realicon-whatsapp{
            display: none;
            padding: 0 !important;
        }
        height: auto;
    }

}

#logo{
    img{
        width: 410px;
    }
}

#splash{
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: bottom center;
    @include ms-respond(padding-top, 2);
    @include ms-respond(padding-bottom, 2);
    @include ms-respond(padding-left, 0);
    @include ms-respond(padding-right, 0);
    // @media screen and (min-width:768px){
    //     height: calc( 100vh - 80px );
    // }
    position: relative;
    z-index: -1;
    padding-bottom: ms(2);
    &:after{
        content: '';
        position: absolute;
        background-color: rgba(0,0,0,.7);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    img{
        @include ms-respond(padding-top, 1);
        @include ms-respond(padding-left, 2);
        @include ms-respond(padding-right, 2);
        max-width: 810px;
    }
    .child{
        position: relative;
        padding-top: 180px;
    }
    .splash-text{
        @include ms-respond(padding-top, 1);
        @include ms-respond(padding-left, 2);
        @include ms-respond(padding-right, 2);
        text-align: center;
        color: $yellow;
        @media screen and (max-width: 767px){
            font-size: 25px;
        }
        // top: 150px;
    }
}

.menu-realium-menu-container{
    #menu-realium-menu{
        display: flex;
        li{
            padding: 0 ms(1);
            background-color: transparent;
            transition: .3s background-color ease-in-out, .3s color ease-in-out;
            color: $yellow;
            &:hover, &.current-menu-item{
                a{
                    color: $black;
                }
                background-color: $yellow;
            }
            a{
                font-size: ms(1);
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
            }
        }
    }
}