.page.page-template-default{
    background-color: $black;

    h1{
        color: $accent-blue;
    }
    .site-content-container{
        > .container{
            background: $yellow;
            color: $black;
            padding: 5rem;
            margin: 5rem;
            box-shadow: 0px 4px 16px rgba(0,0,0,.2);
        }
        .content{
            //color: $white;
            img{
                padding: .61rem;
                border: 2px solid $accent-blue;
                border-radius: 4px;
                &.alignleft{
                    float: left;
                }
            }
            p{
                margin-bottom: 1rem;
                line-height: 1.4rem;
                font-size: 1.4rem;
                font-size: 'Roboto', sans-serif;
            }
        }
    }
}