#prenotazioni-prezzi{
    position: relative;
    @include ms-respond(padding-top,2);
    @include ms-respond(padding-bottom,2);
    background-color: $yellow;
    color: $black;
    .buttons{
        a{
            display: inline-block;
            background-color: $black;
            color: $yellow;
            margin: 0 15px;

        }
        a span{
            padding: 0 10px;
            margin: 0 15px;
            padding-left: 0;
            &.icon{
                padding: 0;
                margin: 0;
                background-color: $yellow;
                color: $black;
                display: inline-block;
                width: 50px;
                height: 50px;
                border: 2px solid $black;
                border-radius: 50%;
                vertical-align: middle;
                &:before{
                    font-size: 24px;
                    top: .4em;
                    position: relative;
                }
            }
        }
    }
}
#homepage-grid-videogames{
    padding: ms(2) ms(2);
}
#section-hw{
    .section-container{
        margin: ms(5) auto ms(2);
        box-sizing: border-box;
        padding-bottom: ms(5);
    }
    .viewer-row{
        border: 10px solid $yellow;
        margin-bottom: ms(2);
        box-shadow: 0px 4px 16px rgba(0,0,0,.2);
        &-content{
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            background-color: $yellow;
            padding: ms(2);
            @media screen and (min-width: 992px){
                width: calc( 50% - 1.61rem );
                background-color: transparent;
            }
            .img-container{
                display: inline-block;
                width: 70%;
                position: relative;
                @media screen and (max-width: 991px){
                    margin-left: auto;
                    margin-right: auto;
                }
                img{
                    width: 100%;
                    position: relative;
                }
                &:after{
                    top: 0;
                    position:absolute;
                    height: 100%;
                    width: 100%;
                    content: '';
                    display: block;
                    background-color: $yellow-overlay;
                }

            }
            .info{
                color: $black;
                h5{
                    color: $accent-blue;
                    font-weight: bold;
                    margin-bottom: 1rem;
                }

            }

        }
        .sx{
            background-position: left;
            background-image: url('assets/svg/panel-sx.svg');
            padding-left: ms(2);
            text-align: center;

            @media screen and (min-width: 992px){
                margin-right: auto;
                    text-align: left;
            }
        }
        .dx{
            background-position: right;
            background-image: url('assets/svg/panel-dx.svg');
            padding-right: ms(2);
            text-align: center;

            @media screen and (min-width: 992px){
                margin-left: auto;
                text-align: right;

            }


        }
        @media screen and (min-width: 992px){
            padding: ms(2);

            .viewer-ratio{
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 82.95%;
                .viewer{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0; top: 0;
                }

            }
        }
    }

    position: relative;
    @include ms-respond(padding-top, 4);
    h3{
        color: $white;
        text-align: center;
    }
    background-color: $black;

}
#homepage-grid-videogames{
    @include ms-respond(padding-top, 4);
    @include ms-respond(padding-bottom, 4);
    h2{
        color: $accent-blue;
        text-align: center;
    }
    background-color: $yellow;
    h4{
        min-height: 96px;

    }
}

#sezione-prezzi{
    position: relative;
    h4{
        color: $accent-blue;
        border-bottom: 2px solid $accent-blue;
        padding-bottom: ms(0);
    }
    background-color: $black;
    @include ms-respond(padding-top,2);  
    @include ms-respond(padding-bottom,2);  
    @include ms-respond(padding-left,1);  
    @include ms-respond(padding-right,1);  
    .titolo-prezzo{
        padding: ms(2);
    }
    .pacchetto{
        color: $accent-red;
        border-radius: 3px;
        flex-basis: 50%;
        // margin: ms(2) ms(3);
        @include ms-respond(margin-top,2);  
        @include ms-respond(margin-bottom,2);  
        @include ms-respond(margin-left,1);  
        @include ms-respond(margin-right,1);  
        @media screen and (min-width:768px) {
            @include ms-respond(margin-left,1);  
            @include ms-respond(margin-right,1);  
        }
        padding: ms(4) ms(1);
        background-color: $accent-blue-light;
    }
    li{
        @include ms-respond(padding-top,1);  
        @include ms-respond(padding-bottom,1);  
        @include ms-respond(padding-left,1);  
        @include ms-respond(padding-right,1);  
        margin: ms(4) ms(0);
        background-color: $white;
        border-radius: 3px;
        box-shadow: 1px 2px 5px $blacker;
            img{
                width: 30%;
                margin: auto;
            }

    }
}