.single-videogame {
  background-color: $black;
  color: $yellow;
  .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
  }
  .swiper-container{
    width: 85%;
  }
  .swiper-button-next{
    color: $yellow;
  }
  .swiper-button-prev{
    color: $yellow;
  }
  .swiper-scrollbar-drag{
    background: rgba(252,181,81,.5);
  }
}