$modularscale: (
  base: .6em,
  ratio: $phi,
  400px:(
      base: 1em,
      ratio: $phi
    ),
  900px: (
    base: .9em,
    ratio: $phi
  ),
    1200px: (
        base: 1.0em,
        ratio: $phi
    ),
    1400px: (
        base: 1.1em,
        ratio: $phi
    ),
);


h1 {
    font-family: 'Hyperspace';
    font-weight: bold;
    @include ms-respond(font-size, 2);
    @media screen and (min-width: 992px) {
        @include ms-respond(font-size, 3);
    }
}
h2{
    font-family: 'Hyperspace';
    font-weight: bold;
    @include ms-respond(font-size, 2);
    @media screen and (min-width: 992px) {
        @include ms-respond(font-size, 3);
    }
}
h3{
    font-family: 'Hyperspace';
    font-weight: bold;
    @include ms-respond(font-size, 2);
    @media screen and (min-width: 992px) {
        @include ms-respond(font-size, 3);
    }
}
h4{
    font-family: 'Hyperspace';
    font-weight: bold;
    @include ms-respond(font-size, 2);
}
h5{
    font-family: 'Hyperspace';
    @include ms-respond(font-size, 1);
}

p, span, a{
    font-family: 'Exo 2';
    @include ms-respond(font-size, 0);
    color: inherit;
}
a:hover{
    color: $accent-blue;
}
body{
    font-family: 'Exo 2';
    line-height: $phi;
    color: $black;
    .yellow-text{
        color: $yellow;
    }
}

.hover-floating{
    transition: transform .1s ease-in-out;
    &:hover{
        transform: translateY(-3px);
    }
}
a:hover{
    text-decoration: none;
}