<template>
  <transition name="flip-y">
      <button @click="show=!show" id="prenota" class="btn realium">prenota</button>
      <div class="px-5 logo">logo</div>
      <transition-group
        @beforeEnter="beforEenter"
        @enter="enter"
        @leave="leave"
        @afterLeave="afterLeave"
        name="all-around"
        tag="ul"
        class="w-2/3 flex"
      >
        <li></li>
      </transition-group>
    </div>
  </transition>
</template>

<script>
import axios from "axios";
export default {
  name: "prenota",
  created: function() {
  },
  mounted() {
  },
  methods: {
  },
  data: function() {
    show: false
  }
};
</script>

<style>
.flip-y-enter {
  opacity: 0;
}
.flip-y-enter-active,
.flip-y-leave {
  transition: opacity 0.5s ease-in-out;
}
.flip-y-leave-to {
  opacity: 0.5s;
}
.all-around-enter {
  opacity: 0;
}
.all-around-enter-active,
.all-around-leave {
  transition: opacity 5s ease-in-out;
}
.all-around-leave-to {
  opacity: 0.5;
}
</style>
